<a href="https://colab.research.google.com/github/2303a51733/230351733_B11_PDS/blob/main/lab_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
data = {
    "TransactionID": [101, 102, 103, 104, 105, 101, 103, 106],
    "Customer": ["Alice", "Bob", "Charlie", "David", "Eva", "Alice", "Charlie", "Frank"],
    "Product": ["Laptop", "Phone", "Tablet", "Laptop", "Phone", "Laptop", "Tablet", "Headphones"],
    "Amount": [800, 500, 300, 900, 600, 800, 300, 150]
}
df = pd.DataFrame(data)
print("üìå Original Dataset:")
print(df)
print("\nüîç Checking for Duplicates...")
duplicates = df[df.duplicated()]
print("Duplicate Records Found:")
print(duplicates)
df_cleaned = df.drop_duplicates()
before = len(df)
after = len(df_cleaned)
removed = before - after
print(f"\n‚úÖ Before Cleaning: {before} records")
print(f"‚úÖ After Cleaning: {after} records")
print(f"üóëÔ∏è Duplicates Removed: {removed}")
print("\nüìå Cleaned Dataset:")
print(df_cleaned)
print("\nüìñ Discussion: Why Remove Duplicates?")
print("- Prevents inflated sales totals")
print("- Ensures accurate customer insights")
print("- Improves forecasting and analysis accuracy")
print("- Saves storage and processing power")

üìå Original Dataset:
   TransactionID Customer     Product  Amount
0            101    Alice      Laptop     800
1            102      Bob       Phone     500
2            103  Charlie      Tablet     300
3            104    David      Laptop     900
4            105      Eva       Phone     600
5            101    Alice      Laptop     800
6            103  Charlie      Tablet     300
7            106    Frank  Headphones     150

üîç Checking for Duplicates...
Duplicate Records Found:
   TransactionID Customer Product  Amount
5            101    Alice  Laptop     800
6            103  Charlie  Tablet     300

‚úÖ Before Cleaning: 8 records
‚úÖ After Cleaning: 6 records
üóëÔ∏è Duplicates Removed: 2

üìå Cleaned Dataset:
   TransactionID Customer     Product  Amount
0            101    Alice      Laptop     800
1            102      Bob       Phone     500
2            103  Charlie      Tablet     300
3            104    David      Laptop     900
4            105      Eva       Phone     600
7            106    Frank  Headphones     150

üìñ Discussion: Why Remove Duplicates?
- Prevents inflated sales totals
- Ensures accurate customer insights
- Improves forecasting and analysis accuracy
- Saves storage and processing power

In [5]:
import pandas as pd
data = {
    "EmployeeID": [1, 2, 3, 4],
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Salary": ["50000", "60000", "55000", "62000"],   # Stored as string
    "Joining_Date": ["2021-01-15", "2020-07-20", "2021-12-01", "2022-03-10"]  # Stored as string
}
df = pd.DataFrame(data)
print("üìå Original Dataset:")
print(df)
print("\nData Types Before Conversion:")
print(df.dtypes)
df["Salary"] = pd.to_numeric(df["Salary"])
df["Joining_Date"] = pd.to_datetime(df["Joining_Date"])
print("\n‚úÖ Cleaned Dataset:")
print(df)
print("\nData Types After Conversion:")
print(df.dtypes)
print("\nüìñ Discussion: Why Correct Data Types Matter?")
print("- Ensures accurate calculations (e.g., sum, mean of Salary).")
print("- Enables time-based analysis (e.g., employee tenure, trends).")
print("- Prevents runtime errors during analysis and modeling.")
print("- Improves efficiency by storing data in the right format.")

üìå Original Dataset:
   EmployeeID     Name Salary Joining_Date
0           1    Alice  50000   2021-01-15
1           2      Bob  60000   2020-07-20
2           3  Charlie  55000   2021-12-01
3           4    David  62000   2022-03-10

Data Types Before Conversion:
EmployeeID       int64
Name            object
Salary          object
Joining_Date    object
dtype: object

‚úÖ Cleaned Dataset:
   EmployeeID     Name  Salary Joining_Date
0           1    Alice   50000   2021-01-15
1           2      Bob   60000   2020-07-20
2           3  Charlie   55000   2021-12-01
3           4    David   62000   2022-03-10

Data Types After Conversion:
EmployeeID               int64
Name                    object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object

üìñ Discussion: Why Correct Data Types Matter?
- Ensures accurate calculations (e.g., sum, mean of Salary).
- Enables time-based analysis (e.g., employee tenure, trends).
- Prevents runtime errors during analysis and modeling.
- Improves efficiency by storing data in the right format.