<a href="https://colab.research.google.com/github/2303a51733/230351733_B11_PDS/blob/main/LAB_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

QUESTION 1

In [3]:
import pandas as pd
df = pd.read_csv("/content/sales_data2.csv")
df = df.dropna(subset=["Product", "Quantity"])
mean_price = df["Price"].mean()
df["Price"] = df["Price"].fillna(mean_price)
df.loc[df["Total"].isna(), "Total"] = df["Quantity"] * df["Price"]
large_transactions = df[df["Total"] > 1000]
print("Cleaned Data:\n", df)
print("\nLarge Transactions (Total > 1000):\n", large_transactions)
df.to_csv("cleaned_sales_data.csv", index=False)

Cleaned Data:
    Invoice_No Customer_Name     Product  Quantity    Price    Total
0         201        George      Tablet       1.0  15000.0  15000.0
1         202         Helen  Headphones       3.0  11500.0  34500.0
4         205          Kyle     Printer       4.0   8000.0  32000.0
5         206         Laura      Camera       5.0  11500.0  40000.0

Large Transactions (Total > 1000):
    Invoice_No Customer_Name     Product  Quantity    Price    Total
0         201        George      Tablet       1.0  15000.0  15000.0
1         202         Helen  Headphones       3.0  11500.0  34500.0
4         205          Kyle     Printer       4.0   8000.0  32000.0
5         206         Laura      Camera       5.0  11500.0  40000.0

QUESTION 2

In [4]:
import pandas as pd
df = pd.read_csv("/content/applicants (1).csv")
df = df.dropna(subset=["Python_Score"])
df["Experience_Years"] = df["Experience_Years"].fillna(0)
qualified_applicants = df[(df["Python_Score"] > 80) & (df["Experience_Years"] > 2)]
print(df)
print("\nQualified Applicants (Python_Score > 80 and Experience_Years > 2):\n", qualified_applicants)
df.to_csv("cleaned_applicants.csv", index=False)
qualified_applicants.to_csv("qualified_applicants.csv", index=False)

   Applicant_ID   Name  Degree  Experience_Years  Python_Score       Status
0             1  Alice  B.Tech               3.0          85.0      Applied
1             2    Bob     MCA               0.0          90.0  Interviewed
3             4  David  M.Tech               5.0          70.0     Rejected
4             5    Eva     MBA               0.0          88.0  Interviewed
5             6  Frank     BCA               2.0          60.0      Applied
6             7  Grace  B.Tech               4.0          95.0     Selected

Qualified Applicants (Python_Score > 80 and Experience_Years > 2):
    Applicant_ID   Name  Degree  Experience_Years  Python_Score    Status
0             1  Alice  B.Tech               3.0          85.0   Applied
6             7  Grace  B.Tech               4.0          95.0  Selected